<app-background>
  <app-center-card>
    <h1 class="title">Generate an Order Paper</h1>
    <app-menu-container
      *ngFor="let item of items; let i = index"
      [notifications]="item.notifications"
      (delete)="onDelete($event)"
      [noView]="true"
    >
      <div class="content">
        <div class="info">
          <span>{{ i + 1 | number: "2.0-0" }}</span>
          <span class="label">{{ item.label }}</span>
        </div>
        <div class="buttons-container">
          <button
            mat-stroked-button
            class="btn"
            *ngIf="item.select"
            (click)="onSelect(item.select)"
            [disabled]="
              form.get(item.key).value === 'NONE' ||
              form.get(item.key).value === 'none'
            "
          >
            Select
          </button>
          <button
            mat-stroked-button
            class="btn"
            *ngIf="item.generate"
            (click)="onGenerate(item.generate)"
            [disabled]="
              form.get(item.key).value === 'NONE' ||
              form.get(item.key).value === 'none'
            "
          >
            Generate
          </button>
          <button
            mat-stroked-button
            class="btn"
            (click)="onSkip(item.key)"
            [disabled]="form.get(item.key).value !== ''"
          >
            Skip
          </button>
        </div>
      </div>
    </app-menu-container>
    <app-menu-container>
      <div class="content">
        <div class="info">
          <span>10</span>
          <span class="label">Adjournment</span>
        </div>
      </div>
    </app-menu-container>
    <div class="actions">
      <button
        mat-button
        type="button"
        class="btn-draft"
        [disabled]="form.invalid"
        (click)="onSave(true)"
      >
        Save as Draft
      </button>
      <button
        mat-raised-button
        type="submit"
        class="btn-save"
        [disabled]="form.invalid"
        (click)="onSave(false)"
      >
        Publish Order Paper
      </button>
    </div>
  </app-center-card>
</app-background>
