<app-background>
  <app-center-card>
    <h1 class="title">Order Paper</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Order Paper No</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="orderPaperNo" type="number" />
      </mat-form-field>

      <p class="label">Assembly No</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="assemblyNo" />
      </mat-form-field>

      <p class="label">Session No</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="sessionNo" />
      </mat-form-field>

      <div class="grid">
        <div class="grid-form">
          <p class="label">Assembly Sitting Period</p>
          <mat-form-field appearance="standard">
            <mat-select formControlName="assemblySittingPeriod">
              <mat-option value="Morning">Morning</mat-option>
              <mat-option value="Afternoon">Afternoon</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="grid-form">
          <p class="label">Page No</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="pageNoToDate" type="number" />
          </mat-form-field>
        </div>
      </div>

      <div class="grid">
        <div class="grid-form">
          <p class="label">Assembly Sitting Date</p>
          <mat-form-field appearance="standard">
            <input formControlName="assemblySittingDate" matInput type="date" />
          </mat-form-field>
        </div>
        <div class="grid-form">
          <p class="label">Input Exact Time</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="assemblySittingTime" />
          </mat-form-field>
        </div>
      </div>

      <div class="actions">
        <button
          mat-raised-button
          type="button"
          class="btn-save"
          [routerLink]="['/', 'view', 'paper-content', id]"
        >
          View Content
        </button>
      </div>
    </form>
    <p class="view-author author" *ngIf="authorName">
      Author: {{ authorName }}
    </p>
    <p class="view-author" *ngIf="approver">Approved By: {{ approver }}</p>
    <p class="view-author" *ngIf="approver">Approved At: {{ approvedAt }}</p>
  </app-center-card>
</app-background>
