<app-background>
  <app-center-card>
    <h1 class="title">
      Create Committee Under the County Assembly of {{ county }}
    </h1>
    <form [formGroup]="form" class="form">
      <p class="label">Committee Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Committee on Food Processing and Fishing" />
        <mat-error *ngIf="form.get('name').hasError('required')">Please enter committee name!</mat-error>
      </mat-form-field>
      <p class="label">Date Formed</p>
      <mat-form-field appearance="standard">
        <input matInput type="date" />
      </mat-form-field>
      <p class="label">Department sighted over Executive</p>
      <app-custom-button [title]="departmentInExcecutive.length ? departmentInExcecutive : 'Select Department'"
        (buttonClick)="onSelectDepartment()">
      </app-custom-button>
      <div class="buttons-container">
        <app-custom-button [title]="chairmanName.length ? chairmanName : 'Select Chairman'"
          (buttonClick)="onSelectChairman()">
        </app-custom-button>
        <app-custom-button [title]="
            viceChairName.length ? viceChairName : 'Select Vice Chairman'
          " (buttonClick)="onSelectViceChairman()" style="margin-left: 10px">
        </app-custom-button>
      </div>
      <app-custom-button [title]="'Select Members'" (buttonClick)="onSelectMember()">
      </app-custom-button>
      <span class="members">{{ membersName.length }} member{{
        membersName.length <= 1 ? "" : "s" }}</span>
          <div class="member-container" *ngFor="let member of membersName">
            <mat-icon class="member-icon">person_outline</mat-icon>
            <span>{{ member.name }}</span>
            <button mat-button color="warn" class="btn-delete" type="button"
              (click)="onMemberDelete(member._id)">Delete</button>
          </div>
          <div class="actions">
            <button mat-button type="button" class="btn-draft" [disabled]="form.invalid" (click)="onSave(false)">
              Save as Draft
            </button>
            <button mat-raised-button type="submit" class="btn-save" [disabled]="form.invalid" (click)="onSave(true)">
              Save Committee
            </button>
          </div>
    </form>
  </app-center-card>
</app-background>
