<app-background>
  <app-center-card>
    <div class="main">
      <div class="left-section">
        <h2 class="title">Add List of Petitioners</h2>
        <form [formGroup]="form" class="form">
          <p class="label">Name</p>
          <mat-form-field appearance="standard">
            <input
              matInput
              formControlName="name"
              placeholder="Sterys Crystal"
            />
            <mat-error *ngIf="form.get('name').hasError('required')"
              >Please enter your name!</mat-error
            >
          </mat-form-field>
          <p class="label">Phone Number</p>
          <mat-form-field appearance="standard">
            <span matPrefix>+ &nbsp;</span>
            <input
              matInput
              formControlName="phone"
              type="tel"
              placeholder="254 712 345 678"
            />
            <mat-error *ngIf="form.get('phone').hasError('required')"
              >Please enter phone numer</mat-error
            >
            <mat-error *ngIf="form.get('phone').hasError('phoneNumber')"
              >Please enter valid phone numer</mat-error
            >
          </mat-form-field>
          <div class="actions">
            <button
              mat-button
              type="submit"
              class="btn-add"
              [disabled]="form.invalid"
              (click)="onAdd()"
            >
              Add
            </button>
            <button
              mat-raised-button
              type="submit"
              class="btn-save"
              [disabled]="!petitioners.length"
              (click)="onComplete()"
            >
              Complete
            </button>
          </div>
        </form>
        <div class="divider"></div>
      </div>
      <div class="right-section">
        <h2 class="title">List of Petitioners</h2>
        <app-management-item
          *ngFor="let petitioner of petitioners"
          [title]="petitioner.name"
          [subtitle]="'Phone number: ' + petitioner.phone"
          [noDivider]="true"
        ></app-management-item>
      </div>
    </div>
  </app-center-card>
</app-background>
