.main {
  min-width: 600px;
  width: 75vw;
  min-height: 800px;
  height: 90vh;
  margin: -40px !important;
  padding-bottom: 100px;

  @media (max-width: 600px) {
    width: 100vw;
  }
}

.actions {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-draft {
  color: #008000;
}

.btn-save {
  background: #008000;
  color: white;
  font-weight: 400;
  padding: 3px 25px;
  border-radius: 10px;
}
