<span class="title" *ngIf="title">{{ title }}</span>
<div class="container">
  <div class="content">
    <ng-content></ng-content>
  </div>
  <div class="footer" *ngIf="notifications">
    <span>Notifications</span>
    <div class="number" *ngIf="notifications">
      <div>{{ notifications.length }}</div>
    </div>
    <mat-icon class="icon" (click)="onExpand()">{{
      expanded ? "keyboard_arrow_up" : "keyboard_arrow_down"
    }}</mat-icon>
  </div>
  <div class="notification-container" *ngIf="expanded">
    <div class="notification" *ngFor="let noti of notifications">
      <div
        class="top"
        *ngIf="
          noti.type === 'communContent' ||
          noti.type === 'adminstrationOfOathReply' ||
          noti.type === 'communicationFromChainr' ||
          noti.type === 'messageContent' ||
          noti.type === 'petionReply' ||
          noti.type === 'reportReply' ||
          noti.type === 'statementReply' ||
          noti.type === 'adjournment' ||
          noti.type === 'noticeOfMotionsReply'
        "
      >
        <span [innerHtml]="noti.content | truncate"></span>
      </div>
      <!-- <div class="top" *ngIf="">
        <p>
          Content:
          <span [innerHtml]="getNoticeMotionContent(noti)"></span>
        </p>
        <p>Status: {{ getNoticeMotionStatus(noti) }}</p>
      </div> -->
      <div
        class="top"
        *ngIf="
          noti.type === 'bills' ||
          noti.type === 'motions' ||
          noti.type === 'messages'
        "
      >
        <span>{{ getMessageContent(noti) }}</span>
      </div>
      <app-management-item
        [title]="getAdminContent(noti).name"
        [subtitle]="getAdminContent(noti).ward"
        [pic]="getAdminContent(noti).passport"
        *ngIf="noti.type === 'adminContent' && getAdminContent(noti)"
      ></app-management-item>
      <div *ngIf="noti.type === 'adminContent' && !getAdminContent(noti)">
        <span>No Content Found!</span>
      </div>
      <app-info-item
        [title]="(getPetitionContent(noti) | async).content"
        [date]="(getPetitionContent(noti) | async).datePublished"
        [subjects]="[(getPetitionContent(noti) | async).relatedTo]"
        [sponsored]="(getPetitionContent(noti) | async).sponsoredBy.sponsorName"
        [sub]="'Petition on'"
        *ngIf="noti.type === 'petitionId' && (getPetitionContent(noti) | async)"
        [viewUrl]="'/view/petition/' + (getPetitionContent(noti) | async)._id"
      >
      </app-info-item>
      <div
        *ngIf="
          noti.type === 'petitionId' &&
          (getPetitionContent(noti) | async) === undefined
        "
      >
        <span>No Petition Found!</span>
      </div>
      <app-report-item
        [title]="(getReportContent(noti) | async).title"
        [date]="(getReportContent(noti) | async).datePublished"
        [concerning]="[(getReportContent(noti) | async).relatedTo]"
        [submitted]="(getReportContent(noti) | async).authorCommitee.name"
        [sub]="'Report on'"
        *ngIf="noti.type === 'reportId' && (getReportContent(noti) | async)"
        [viewUrl]="'/view/report/' + (getReportContent(noti) | async)._id"
      >
      </app-report-item>
      <div
        *ngIf="
          noti.type === 'reportId' &&
          (getReportContent(noti) | async) === undefined
        "
      >
        <span>No Paper Found!</span>
      </div>
      <app-statement-item
        [info]="getStatementContentInfo(noti) | async"
        *ngIf="
          noti.type === 'statementId' && (getStatementContent(noti) | async)
        "
        [viewUrl]="'/view/statement/' + (getStatementContent(noti) | async)._id"
      >
      </app-statement-item>
      <div
        *ngIf="
          noti.type === 'statementId' &&
          (getStatementContent(noti) | async) === undefined
        "
      >
        <span>No Statement Found!</span>
      </div>
      <app-info-item
        [title]="(getMotionContent(noti) | async).title"
        [date]="(getMotionContent(noti) | async).datePublished"
        [subjects]="[(getMotionContent(noti) | async).relatedTo]"
        [department]="(getMotionContent(noti) | async).department"
        [sponsored]="(getMotionContent(noti) | async).sponsoredBy.sponsorName"
        *ngIf="noti.type === 'motionId' && (getMotionContent(noti) | async)"
        [viewUrl]="'/view/motion/' + (getMotionContent(noti) | async)._id"
      ></app-info-item>
      <div
        *ngIf="
          noti.type === 'motionId' &&
          (getMotionContent(noti) | async) === undefined
        "
      >
        <span>No Motion Found!</span>
      </div>
      <app-info-item
        [title]="(getMotionContent(noti) | async).title"
        [date]="(getMotionContent(noti) | async).datePublished"
        [subjects]="[(getMotionContent(noti) | async).relatedTo]"
        [department]="(getMotionContent(noti) | async).department"
        [sponsored]="(getMotionContent(noti) | async).sponsoredBy.sponsorName"
        *ngIf="
          noti.type === 'motionNoticeId' && (getMotionContent(noti) | async)
        "
        [viewUrl]="'/view/motion/' + (getMotionContent(noti) | async)._id"
      ></app-info-item>
      <div
        *ngIf="
          noti.type === 'motionNoticeId' &&
          (getMotionContent(noti) | async) === undefined
        "
      >
        <span>No Notice of Motion Found!</span>
      </div>
      <app-info-item
        [title]="(getBillContent(noti) | async).title"
        [date]="(getBillContent(noti) | async).datePublished"
        [subjects]="[(getBillContent(noti) | async).relatedTo]"
        [sub]="'Bill on'"
        [status]="(getBillContent(noti) | async).status"
        *ngIf="noti.type === 'billsId' && (getBillContent(noti) | async)"
        [viewUrl]="'/view/bill/' + (getBillContent(noti) | async)._id"
      >
      </app-info-item>
      <div
        *ngIf="
          noti.type === 'billsId' &&
          (getBillContent(noti) | async) === undefined
        "
      >
        <span>No Bill Found!</span>
      </div>
      <div class="bottom">
        <button mat-button class="view" *ngIf="!noView">View</button>
        <button
          mat-button
          color="error"
          (click)="onDelete(noti)"
          *ngIf="!noDelete"
        >
          Delete
        </button>
      </div>
      <!-- <div class="bottom" *ngIf="noti.date">
        {{ noti.date }}
      </div> -->
    </div>
  </div>
</div>
