<app-background [background]="'green'">
  <app-center-card>
    <div class="main">
      <h2 class="title">Enter Verification Code sent to your Email.</h2>
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length: 6}"></ng-otp-input>
      <a class="btn-link" [routerLink]="valid ? '/signup/phone-verification' : null">
        <button mat-flat-button class="btn" [disabled]="!valid">Send</button>
      </a>
    </div>
  </app-center-card>
</app-background>
<app-back-button [link]="'/signup/email'"></app-back-button>