<app-background>
  <app-center-card>
    <h1 class="title">Generate an Order Paper</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Order Paper No</p>
      <mat-form-field appearance="standard">
        <input
          matInput
          formControlName="orderPaperNo"
          placeholder="192"
          type="number"
        />
        <mat-error *ngIf="form.get('orderPaperNo').hasError('required')"
          >Please enter order paper no!</mat-error
        >
      </mat-form-field>
      <!-- <p class="label">Sitting</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="sitting">
          <mat-option value="Morning">Morning</mat-option>
          <mat-option value="Afternoon">Afternoon</mat-option>
          <mat-option value="Night">Night</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('sitting').hasError('required')">Please select sitting!</mat-error>
      </mat-form-field> -->
      <p class="label">Assembly No</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="assemblyNo" type="number" />
        <mat-error *ngIf="form.get('assemblyNo').hasError('required')"
          >Please enter assembly no!</mat-error
        >
      </mat-form-field>
      <p class="label">Session No</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="sessionNo" type="number" />
        <mat-error *ngIf="form.get('sessionNo').hasError('required')"
          >Please enter session no!</mat-error
        >
      </mat-form-field>
      <div class="grid">
        <div class="grid-form">
          <p class="label">Assembly Sitting No</p>
          <mat-form-field appearance="standard">
            <input matInput type="number" />
          </mat-form-field>
        </div>
        <div class="grid-form">
          <p class="label">Page No</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="pageNoToDate" type="number" />
            <mat-error *ngIf="form.get('pageNoToDate').hasError('required')"
              >Please enter page no!</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="grid">
        <div class="grid-form">
          <p class="label">Assembly Sitting Date</p>
          <mat-form-field appearance="standard">
            <input formControlName="assemblySittingDate" matInput type="date" />
            <mat-error
              *ngIf="form.get('assemblySittingDate').hasError('required')"
              >Please enter sitting time!</mat-error
            >
          </mat-form-field>
        </div>
        <div class="grid-form">
          <p class="label">Input Exact Time</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="assemblySittingTime" />
            <mat-error
              *ngIf="form.get('assemblySittingTime').hasError('required')"
              >Please enter exact time!</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="actions">
        <button
          mat-raised-button
          type="button"
          class="btn-save"
          [disabled]="form.invalid"
          (click)="onGenerate()"
        >
          Generate Content
        </button>
      </div>
    </form>
  </app-center-card>
</app-background>
