.main {
  max-width: 60vw;
}

.title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.words {
  .limit {
    font-weight: 500;
  }
}

.pages {
  display: flex;
  margin: 20px 0;

  .previous {
    color: gray;
    margin-right: 10px;
  }

  .current {
    .page {
      color: #008000;
    }
  }

  .page {
    font-weight: 500;
  }
}

.actions {
  margin: 15px 0;
  display: flex;
}

.btn-save {
  background: #008000;
  color: white;
  font-weight: 400;
  padding: 3px 25px;
  border-radius: 10px;
}

.btn-discard {
  margin-right: auto;
}

:host ::ng-deep {
  .ql-toolbar {
    margin-top: 15px;
  }

  .ql-container {
    margin-bottom: 30px;
  }
}

:host ::ng-deep {
  .ql-container {
    min-width: unset;
  }
}
