.title {
  font-weight: 500;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

.label {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.forgot {
  align-self: flex-end;
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.check-box {
  margin: 20px 0;
}

.btn-link {
  width: 100%;
  margin: 10px 0;
}

.btn {
  color: white;
  background: #008000;
  margin: 20px 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
}

/**
  * Selectors to overwrite Material Input styling.
  * :host is needed to prevent the style bleeding into other components.
  * More information can be found at: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
  * Note: This is not a very good way to deal with overwrite Material styling. But it is the shortest and easiest way
  * For better method I recommend checking Material documentation: https://material.angular.io/guide/theming-your-components
  */
:host ::ng-deep {
  .mat-input-element {
    margin-bottom: 12px;
    color: black;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-checkbox-label,
  .mat-select-value {
    color: gray;
  }

  .mat-select {
    margin-bottom: 12px;
  }

  .mat-form-field-prefix {
    position: relative;
    bottom: 12px;
  }
}
