<app-background>
  <app-center-card>
    <div class="main">
      <h1 class="title">Edit {{page}}</h1>
      <quill-editor [(ngModel)]="content" [readOnly]="true"></quill-editor>
      <div class="words">
        <div class="line">
          <span>No of Words: <span class="word">{{wordsNumber}}</span></span>
        </div>
        <div class="line">
          <span>Words Per Paragrah: <span class="word">{{wordsPara}}</span></span>
        </div>
        <div class="line">
          <span>Words Per Page: <span class="word">{{wordsPage}}</span></span>
        </div>
      </div>
      <div class="actions">
        <button mat-button type="button" class="btn-draft">Save as Changes</button>
        <a [routerLink]="['/', 'list', 'communication']">
          <button mat-raised-button type="submit" class="btn-save">Complete</button>
        </a>
      </div>
    </div>
  </app-center-card>
</app-background>