<div class="main">
  <div class="info">
    <span class="title">{{ sub }} {{ title }}</span>
    <span class="date"
      >Published on
      <span class="highlight">{{ date | date: "dd MMMM, yyyy" }}</span></span
    >
    <span class="concerning"
      >Concerning
      <span class="highlight" *ngFor="let con of concerning; let i = index">{{
        (i === 0 ? "" : i + 1 === concerning.length ? " and " : ", ") + con
      }}</span></span
    >
    <span class="submitted" *ngIf="submitted"
      >Submitted by
      <span class="highlight"
        >{{ submitted }}<span *ngIf="ward">({{ ward }})</span></span
      ></span
    >
    <span class="response" *ngIf="response"
      >In response to <span class="highlight">{{ response }}</span></span
    >
    <div class="state" *ngIf="state">
      <div class="dot"></div>
      <span class="label">{{ state }}</span>
    </div>
  </div>
  <button mat-button *ngIf="selectable" class="btn" (click)="onSelect()">
    Select
  </button>
</div>
<div class="list-actions" *ngIf="state !== 'public' && !selectable">
  <a [routerLink]="[editUrl]">
    <button mat-button class="list-actions-btn edit">Edit</button>
  </a>
  <button mat-button class="list-actions-btn delete" (click)="onDelete()">
    Delete
  </button>
</div>
