<app-background>
  <app-center-card>
    <h1 class="title">Create Employee Profile</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input
          matInput
          formControlName="name"
          placeholder="Committee on Food Processing and Fishing"
        />
        <mat-error *ngIf="form.get('name').hasError('required')"
          >Please enter committee name!</mat-error
        >
      </mat-form-field>
      <p class="label">Department</p>
      <app-custom-button
        [title]="department.length ? department : 'Select Department'"
        (buttonClick)="onSelectDepartment()"
      >
      </app-custom-button>
      <p class="label">Term of Employment</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="termOfService">
          <mat-option value="Permanent">Permanent</mat-option>
          <mat-option value="Contract">Contract</mat-option>
          <mat-option value="Outsourced">Outsourced</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="label">Education Level</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="educationLevel">
          <mat-option value="Diploma Graduate">Diploma Graduate</mat-option>
          <mat-option value="Bachelor's Graduate"
            >Bachelor's Graduate</mat-option
          >
          <mat-option value="Master''s Graduate">Master's Graduate</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <span class="label">Enter Phone Number</span>
        <span class="example">E.g 254 712 345 678</span>
      </div>
      <mat-form-field appearance="standard">
        <span matPrefix>+ &nbsp;</span>
        <input matInput formControlName="phoneNumber" type="tel" />
        <mat-error *ngIf="form.get('phoneNumber').hasError('required')"
          >Please enter phone numer</mat-error
        >
        <mat-error *ngIf="form.get('phoneNumber').hasError('phoneNumber')"
          >Please enter valid phone numer</mat-error
        >
      </mat-form-field>
      <app-custom-button
        [title]="filename || 'Upload Profile Picture'"
        (buttonClick)="onUpload()"
      ></app-custom-button>
      <div class="actions">
        <button
          mat-button
          type="button"
          class="btn-draft"
          [disabled]="form.invalid"
          (click)="onSave(false)"
        >
          Save as Draft
        </button>
        <button
          mat-raised-button
          type="submit"
          class="btn-save"
          [disabled]="form.invalid"
          (click)="onSave(true)"
        >
          Save Profile
        </button>
      </div>
    </form>
  </app-center-card>
</app-background>
