<app-background>
  <app-center-card>
    <h1 class="title">Create Employee Profile</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Committee on Food Processing and Fishing" />
        <mat-error *ngIf="form.get('name').hasError('required')">Please enter committee name!</mat-error>
      </mat-form-field>
      <p class="label">Category</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="category" placeholder="Food Production" />
        <mat-error *ngIf="form.get('category').hasError('required')">Please enter category!</mat-error>
      </mat-form-field>
      <p class="label">Department</p>
      <mat-form-field appearance="standard">
        <!-- <input matInput formControlName="department" placeholder="Department of Works" /> -->
        <mat-select formControlName="department">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('department').hasError('required')">Please enter department!</mat-error>
      </mat-form-field>
      <p class="label">Term of Employment</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="term">
          <mat-option value="Permanent">Permanent</mat-option>
          <mat-option value="Contract">Contract</mat-option>
          <mat-option value="Outsourced">Outsourced</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="label">Education Level</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="education">
          <mat-option value="Diploma Graduate">Diploma Graduate</mat-option>
          <mat-option value="Bachelor's Graduate">Bachelor's Graduate</mat-option>
          <mat-option value="Master''s Graduate">Master's Graduate</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <span class="label">Enter Phone Number</span>
        <span class="example">E.g 254 712 345 678</span>
      </div>
      <mat-form-field appearance="standard">
        <span matPrefix>+ &nbsp;</span>
        <input matInput formControlName="phone" type="tel" />
        <mat-error *ngIf="form.get('phone').hasError('required')">Please enter phone numer</mat-error>
        <mat-error *ngIf="form.get('phone').hasError('phoneNumber')">Please enter valid phone numer</mat-error>
        <app-verify-button>Send Verification Code</app-verify-button>
      </mat-form-field>
      <app-custom-button [title]="'Upload Profile Picture'" [url]="['/management/upload']"></app-custom-button>
      <!-- <input #fileUpload class="upload" type="file" accept="image/*" /> -->
      <div class="actions">
        <button mat-button type="button" class="btn-draft">Save as Draft</button>
        <a [routerLink]="['/signup/phone-verification']" [queryParams]="{redirect: '/list/personnel'}">
          <button mat-raised-button type="submit" class="btn-save" [disabled]="form.invalid">Save Profile</button>
        </a>
      </div>
    </form>
  </app-center-card>
</app-background>
