<app-background>
  <app-center-card>
    <h1 class="title">Notice of Motions</h1>
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <div *ngIf="noticeOfMotions.length">
      <app-motion-item
        *ngFor="let motion of noticeOfMotions"
        [content]="motion.title"
        [sponsored]="motion.sponsoredBy.sponsorName"
        [relatedTo]="motion.relatedTo"
        [department]="motion.department"
        [date]="motion.datePublished"
        class="item"
        [selectable]="selectable"
        [state]="motion.publishState"
        [editUrl]="'/generate/motion/' + motion._id"
        (delete)="onDelete(motion._id)"
        (select)="onSelect(motion)"
        [canEdit]="motion.canEdit"
        [canDelete]="motion.canDelete"
        [viewUrl]="'/view/motion/' + motion._id"
        [canApprove]="motion.canApprove"
        (approve)="onApprove(motion)"
      ></app-motion-item>
    </div>
    <div class="list-no-value">
      <p *ngIf="!noticeOfMotions.length">No Notice of Motions Listed!</p>
      <p (click)="onCreateNew()" class="new">Create Motion</p>
    </div>
  </app-center-card>
</app-background>
