<app-background [background]="'green'">
  <app-center-card>
    <h2 class="title">
      To begin using the system. Create an account using the relevant account
      group
    </h2>
    <form [formGroup]="form" class="form">
      <p class="label">Account Title</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="group">
          <!-- <mat-option value="Staff">Drafter of the Assembly</mat-option> -->
          <mat-option value="speaker">Speaker of the County Assembly</mat-option>
          <mat-option value="clerk">Clerk of the County Assembly</mat-option>
          <mat-option value="drafter">Drafter of the County Assembly</mat-option>
          <mat-option value="mca">Member of the County Assembly</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('group').hasError('required')"
          >Please choose a role</mat-error>
      </mat-form-field>
      <p class="label">Enter your Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username').hasError('required')"
          >Please enter your name</mat-error
        >
      </mat-form-field>
      <p class="label">Create Password</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="form.get('password').hasError('required')"
          >Please enter password</mat-error
        >
      </mat-form-field>
      <div>
        <span class="label">Enter Phone Number e.g 254 712 345 678</span>
        <!-- <span class="example">E.g 254 712 345 678</span> -->
      </div>
      <mat-form-field appearance="standard">
        <span matPrefix>+ &nbsp;</span>
        <input
          matInput
          formControlName="phoneNumber"
          type="tel"
          placeholder="254 712 345 678"
        />
        <mat-error *ngIf="form.get('phoneNumber').hasError('required')"
          >Please enter phone number</mat-error
        >
        <!-- phoneNumber error validation -->
        <mat-error *ngIf="form.get('phoneNumber').hasError('phoneNumber')"
          >Please enter valid phone number</mat-error
        >
      </mat-form-field>
      <button
        mat-flat-button
        class="btn"
        [disabled]="form.invalid"
        (click)="onCreate()"
      >
        Create an account
      </button>
      <a [routerLink]="['/login']">
        <p class="create">Login to your account</p>
      </a>
    </form>

  </app-center-card>
</app-background>
