<app-background>
  <app-center-card>
    <h1 class="title">Administration of Oath</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Sterys Crystal" />
        <mat-error *ngIf="form.get('name').hasError('required')"
          >Please enter your name!</mat-error
        >
      </mat-form-field>
      <app-custom-button
        [title]="wardName || 'Ward Represented'"
        (buttonClick)="onWardSelect()"
      ></app-custom-button>
      <app-custom-button
        [title]="fileName.length ? fileName : 'Upload Passport Picture'"
        (buttonClick)="onUpload()"
      ></app-custom-button>
      <p class="label">Political Party</p>
      <mat-form-field appearance="standard">
        <input
          matInput
          formControlName="politicalParty"
          placeholder="Trust Party"
        />
        <mat-error *ngIf="form.get('politicalParty').hasError('required')"
          >Please enter political party!</mat-error
        >
      </mat-form-field>
      <div class="actions">
        <button
          mat-raised-button
          type="submit"
          class="btn-save"
          [disabled]="form.invalid"
          (click)="onSave()"
        >
          Save
        </button>
      </div>
    </form>
    <div class="divider"></div>
    <app-management-item
      *ngFor="let ad of administrations"
      [title]="ad.name"
      [subtitle]="ad.ward"
      [pic]="ad.passport"
      [selectable]="selectable"
      (select)="onSelect(ad)"
    ></app-management-item>
    <div class="finish-container" *ngIf="finishable">
      <button
        mat-raised-button
        class="finish"
        mat-button
        [disabled]="!administrations.length"
        (click)="onFinish()"
      >
        Finish
      </button>
    </div>
  </app-center-card>
</app-background>
