<app-background>
  <app-center-card>
    <div class="content">
      <h1 class="title">Generate Votebook on Administration of Oath</h1>
      <form [formGroup]="form">
        <quill-editor formControlName="content"></quill-editor>
      </form>
      <div class="words">
        <span>No of Words: </span>
        <span class="limit">1400</span>
      </div>
      <div class="pages">
        <div class="previous">
          <span>Previous page: <span class="page">{{previousPage}}</span></span>
        </div>
        <div class="current">
          <span>Currently writing page: <span class="page">{{currentPage}}</span></span>
        </div>
      </div>
      <div class="btn-container">
        <button mat-raised-button class="publish-btn" [disabled]="form.invalid">Publish Pages</button>
      </div>
      <div class="hr"></div>
      <h2 class="subtitle">Administration of Oath Content</h2>
      <app-oath-content [content]="oathContent"></app-oath-content>
    </div>
  </app-center-card>
</app-background>
