.main {
  width: 100vw;
  height: 100vh;
  background-color: #008000;
  position: relative;
  overflow-y: auto;
}

.card {
  background-color: white;
  padding: 60px;
  width: 40%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

.title {
  font-weight: 500;
}

.subtitle {
  font-size: 1rem;
  margin: 15px 0;
}


.info {
  margin: 15px 0;
  font-weight: 500;
  font-size: 1rem;

  &-label {
    color: #008000;
  }
}

.setup {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: 20px;

  &-arrow,
  &-error {
    color: gray;
  }

  &-content {
    margin: 0 10px;
    line-height: 15px;
  }

  &-check {
    color: #008000;
  }
}

.btn-link {
  width: 100%;
  margin: 20px 0;
}

.btn {
  color: white;
  background: #008000;
  margin: 20px 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 15px;
}

.foot {
  .perc {
    color: #008000;
    font-weight: 500;
  }
}
