.main {
  max-width: 60vw;
}

.words {
  .limit {
    font-weight: 500;
  }
}

.pages {
  display: flex;
  margin: 20px 0;

  .previous {
    color: gray;
    margin-right: 10px;
  }

  .current {
    .page {
      color: #008000;
    }
  }

  .page {
    font-weight: 500;
  }
}

.actions {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-draft {
  color: #008000;
}

.btn-save {
  background: #008000;
  color: white;
  font-weight: 400;
  padding: 3px 25px;
  border-radius: 10px;
}

:host ::ng-deep {
  .ql-toolbar {
    margin-top: 15px;
  }

  .ql-container {
    margin-bottom: 30px;
  }
}
