<app-background>
  <app-center-card>
    <div class="main">
      <form [formGroup]="form">
        <span class="words"
          >Words Per Page: <span class="limit">{{ words }}</span></span
        >
        <quill-editor formControlName="content"></quill-editor>
        <app-custom-button [title]="'Add Annexus'"></app-custom-button>
        <div class="pages">
          <div class="previous">
            <span
              >Previous page: <span class="page">{{ previousPage }}</span></span
            >
          </div>
          <div class="current">
            <span
              >Currently writing page:
              <span class="page">{{ currentPage }}</span></span
            >
          </div>
        </div>
        <div class="actions">
          <button mat-button type="button" class="btn-draft">
            Save as Draft
          </button>
          <a [routerLink]="form.invalid ? [] : ['preview']">
            <button
              mat-raised-button
              type="submit"
              class="btn-save"
              [disabled]="form.invalid"
            >
              Save Content
            </button>
          </a>
        </div>
      </form>
    </div>
  </app-center-card>
</app-background>
