<app-background>
  <app-center-card>
    <h1 class="title">Generate and File an Act</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Title of Acts</p>
      <mat-form-field appearance="standard">
        <input
          matInput
          formControlName="titleOfAct"
          placeholder="Acts on Food and Babies"
        />
        <mat-error *ngIf="form.get('titleOfAct').hasError('required')"
          >Please enter acts title!</mat-error
        >
      </mat-form-field>
      <p class="label">Acts No</p>
      <mat-form-field appearance="standard">
        <input
          matInput
          formControlName="actNo"
          placeholder="172"
          type="number"
        />
        <mat-error *ngIf="form.get('actNo').hasError('required')"
          >Please enter acts number!</mat-error
        >
      </mat-form-field>
      <p class="label">Date Published</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="datePublished" type="date" />
        <mat-error *ngIf="form.get('datePublished').hasError('required')"
          >Please enter date published!</mat-error
        >
      </mat-form-field>
      <div class="custom-btn-container">
        <app-custom-button
          [title]="sponsorName.length ? sponsorName : 'Select Sponsor'"
          class="custom-btn"
          (buttonClick)="onSelectSponsored()"
        ></app-custom-button>
        <app-custom-button
          [title]="
            committeeName.length ? committeeName : 'Select Concerned Committee'
          "
          class="custom-btn"
          (buttonClick)="onSelectCommittee()"
        ></app-custom-button>
      </div>
      <app-custom-button
        [title]="billNo !== undefined ? billNo : 'Select Originating Bill No'"
        class="custom-btn standalone"
        (buttonClick)="onSelectOriginateBill()"
      ></app-custom-button>
      <p class="label">Fill in Sector Concerned</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="relatedTo" placeholder="Agriculture" />
        <mat-error *ngIf="form.get('relatedTo').hasError('required')"
          >Please fill in sector concerned!</mat-error
        >
      </mat-form-field>
      <app-custom-button
        [title]="fileName || 'Upload Act File'"
        class="custom-btn standalone"
        (buttonClick)="onUpload()"
      >
      </app-custom-button>
      <div class="actions">
        <button
          mat-button
          type="button"
          class="btn-draft"
          [disabled]="form.invalid"
          (click)="onSave(false)"
        >
          Save as Draft
        </button>
        <button
          mat-raised-button
          type="submit"
          class="btn-save"
          [disabled]="form.invalid"
          (click)="onSave(true)"
        >
          Publish Acts
        </button>
      </div>
    </form>
  </app-center-card>
</app-background>
