:host {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.action-link {
  text-decoration: underline;
  color: #008000;
  margin: 10px 0;
  font-size: 17px;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);

  .number {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;

    div {
      position: absolute;
      color: #008000;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .icon {
    margin-left: auto;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.notification-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;

  .notification {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .view {
    text-decoration: underline;
    color: #008000;
    font-weight: 500;
  }
}
