<app-background>
  <app-center-card>
    <h1 class="title">Petitions</h1>
    <app-search-bar></app-search-bar>
    <div>
      <app-statement-item *ngFor="let statement of statements" [title]="statement.title" [date]="statement.date"
        [soughts]="statement.soughts" [requested]="statement.requested" [ward]="statement.ward" class="item"
        [selectable]="selectabe" [sub]="'Statements on'" [state]="state">
      </app-statement-item>
    </div>
  </app-center-card>
</app-background>
