.title {
  text-align: center;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
}

.label {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.originating-container {
  display: flex;
  align-items: center;
  margin: 10px -5px;

  .originating {
    margin: 0 5px;
  }
}

.buttons-container {
  display: flex;

  .custom-btn {
    width: 50%;
  }
}

.editors-container {
  width: 50%;
  padding: 4%;
  display: flex;
  flex-direction: column;

  .editors {
    font-size: 12px;
    color: gray;
    margin: 0;
  }

  .editor {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .icon {
      color: #008000;
      margin-right: 5px;
    }
  }
}

.actions {
  margin: 15px 0;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-draft {
  color: #008000;
}

.btn-save {
  background: #008000;
  color: white;
  font-weight: 400;
  padding: 3px 25px;
  border-radius: 10px;
}

/**
  * Selectors to overwrite Material Input styling.
  * :host is needed to prevent the style bleeding into other components.
  * More information can be found at: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
  * Note: This is not a very good way to deal with overwrite Material styling. But it is the shortest and easiest way
  * For better method I recommend checking Material documentation: https://material.angular.io/guide/theming-your-components
  */
:host ::ng-deep {
  .mat-form-field {
    width: 100%;
  }

  .mat-input-element {
    margin-bottom: 12px;
    color: black;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-prefix {
    position: relative;
    bottom: 12px;
  }

  .mat-select {
    margin-bottom: 12px;
  }
}
