<app-background>
  <app-center-card>
    <h1 class="title">Generate and File a Motion</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Motion Content</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="content" placeholder="Motion on Sales Entity" />
        <mat-error *ngIf="form.get('content').hasError('required')">Please enter motion content!</mat-error>
      </mat-form-field>
      <p class="label">Subject Matter of the Motion</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="subject" placeholder="Motion on Braerd and Barrrityr" />
        <mat-error *ngIf="form.get('subject').hasError('required')">Please enter subject matter!</mat-error>
      </mat-form-field>
      <div class="buttons-container">
        <app-custom-button [title]="'Select Sponsor'" class="custom-btn standalone" [url]="['/list/mca-employee']"
          [query]="{select: true}"></app-custom-button>
        <app-custom-button [title]="'Upload Soft Copy of Motion'" class="custom-btn standalone"
          style="margin-left: 10px" [url]="['/management/upload']"></app-custom-button>
      </div>
      <div class="actions">
        <a [routerLink]="['/list/motion']" [queryParams]="{state: 'draft'}">
          <button mat-button type="button" class="btn-draft">Save as Draft</button>
        </a>
        <a [routerLink]="form.valid ? ['/list/motion'] : null">
          <button mat-raised-button type="submit" class="btn-save" [disabled]="form.invalid">Publish Bills</button>
        </a>
      </div>
    </form>
  </app-center-card>
</app-background>
