<div class="main">
  <img *ngIf="pic" [src]="pic" class="profile-pic" width="100" height="100" />
  <div class="info">
    <div mat-line class="info-title">{{ title }}</div>
    <div mat-line class="info-subtitle" *ngIf="isSubDate">
      {{ dateSub || "Formed" }} on {{ dateObj | date: "dd MMMM, yyyy" }}
    </div>
    <div mat-line class="info-subtitle hover" *ngIf="!isSubDate && subtitle">
      {{ subtitle }}
    </div>
    <div mat-line class="info-subtitle" *ngIf="subcounty">{{ subcounty }}</div>
    <div class="state" *ngIf="published !== undefined">
      <div class="dot"></div>
      <span class="label">{{ stateExpanded }}</span>
    </div>
  </div>
  <button mat-button *ngIf="selectable" class="btn" (click)="onSelect()">
    Select
  </button>
</div>
<div class="list-actions" *ngIf="!selectable">
  <a [routerLink]="[viewUrl]">
    <button mat-button class="list-actions-btn view">View</button>
  </a>
  <a [routerLink]="[editUrl]" *ngIf="canEdit">
    <button mat-button class="list-actions-btn edit">Edit</button>
  </a>
  <button
    mat-button
    class="list-actions-btn delete"
    (click)="onDelete()"
    *ngIf="canDelete"
  >
    Delete
  </button>
</div>
