<app-background>
  <app-center-card>
    <h1 class="title">Acts</h1>
    <app-search-bar></app-search-bar>
    <div>
      <app-info-item
        *ngFor="let act of acts"
        [title]="act.titleOfAct"
        [date]="act.datePublished"
        [subjects]="[act.relatedTo]"
        class="item"
        [selectable]="selectable"
        [state]="act.publishState"
        [editUrl]="'/generate/act/' + act._id"
        (delete)="onDelete(act._id)"
        (select)="onSelect(act)"
      >
      </app-info-item>
    </div>
    <div *ngIf="!acts.length" class="list-no-value">
      <p>No Acts Listed!</p>
      <p (click)="onCreateNew()" class="new">Create Act</p>
    </div>
  </app-center-card>
</app-background>
