<app-background>
  <app-center-card>
    <h1 class="title">Order Papers</h1>
    <app-search-bar></app-search-bar>
    <div>
      <app-order-paper-item
        *ngFor="let orderPaper of orderPapers"
        [number]="orderPaper.orderPaperNo"
        [date]="orderPaper.datePublished"
        class="item"
        [selectable]="selectable"
        [sub]="'Order Paper'"
        [state]="orderPaper.publishState"
        [editUrl]="'/generate/order-paper/' + orderPaper._id"
        (delete)="onDelete(orderPaper)"
      >
      </app-order-paper-item>
    </div>
    <div *ngIf="!orderPapers.length" class="list-no-value">
      <p>No Order Papers Listed!</p>
      <p (click)="onCreateNew()" class="new">Create Order Paper</p>
    </div>
  </app-center-card>
</app-background>
