<app-background>
  <app-center-card>
    <h1 class="title">Create MCA Profile</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Committee on Food Processing and Fishing" />
        <mat-error *ngIf="form.get('name').hasError('required')">Please enter committee name!</mat-error>
      </mat-form-field>
      <p class="label">Category</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="category">
          <mat-option value="Elected">Elected</mat-option>
          <mat-option value="Nominated">Nominated</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="label">Position</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="position">
          <mat-option value="Clerk">Clerk</mat-option>
          <mat-option value="Speaker">Speaker</mat-option>
          <mat-option value="Personnel">Personnel</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="term-container">
        <div class="term-item">
          <p class="label">Term of Service (Start)</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="termStart" type="date" />
            <mat-error *ngIf="form.get('termStart').hasError('required')">Please enter the time!</mat-error>
          </mat-form-field>
        </div>
        <div class="term-item">
          <p class="label">Term of Service (End)</p>
          <mat-form-field appearance="standard">
            <input matInput formControlName="termEnd" type="date" />
            <mat-error *ngIf="form.get('termEnd').hasError('required')">Please enter the time!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <span class="label">Political Party</span>
      <mat-form-field appearance="standard">
        <input matInput formControlName="politicalParty" placeholder="PDP" />
        <mat-error *ngIf="form.get('politicalParty').hasError('required')">Please enter political party!</mat-error>
      </mat-form-field>
      <div>
        <span class="label">Enter Phone Number</span>
        <span class="example">E.g 254 712 345 678</span>
      </div>
      <mat-form-field appearance="standard">
        <span matPrefix>+ &nbsp;</span>
        <input matInput formControlName="phone" type="tel" />
        <mat-error *ngIf="form.get('phone').hasError('required')">Please enter phone numer</mat-error>
        <mat-error *ngIf="form.get('phone').hasError('phoneNumber')">Please enter valid phone numer</mat-error>
        <app-verify-button>Send Verification Code</app-verify-button>
      </mat-form-field>
      <div class="select-container">
        <app-custom-button [title]="'Upload Profile Picture'" [url]="['/management/upload']"></app-custom-button>
        <!-- <input #fileUpload class="upload" type="file" accept="image/*" /> -->
        <a routerLink="/list/wards" [queryParams]="{select: true}" style="margin-left: 10px">
          <app-custom-button [title]="'Select Ward Represented'"></app-custom-button>
        </a>
        <!-- <button mat-raised-button type="button" class="select-btn">Select Ward Represented</button> -->

      </div>
      <div class="actions">
        <button mat-button type="button" class="btn-draft">Save as Draft</button>
        <a [routerLink]="['/signup/phone-verification']" [queryParams]="{redirect: '/list/personnel'}">
          <button mat-raised-button type="submit" class="btn-save" [disabled]="form.invalid">Save Committee</button>
        </a>
      </div>
    </form>
  </app-center-card>
</app-background>
