<app-background>
  <app-center-card>
    <h1 class="title">Upload and File a Statement</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Statement No.</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="statementNo" placeholder="1258789" />
        <mat-error *ngIf="form.get('statementNo').hasError('required')">Please enter statement no.!</mat-error>
      </mat-form-field>
      <p class="label">Who is Seeking the Statement</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="seeker" placeholder="Ansaw Berneadd" />
        <mat-error *ngIf="form.get('seeker').hasError('required')">Please enter a name!</mat-error>
      </mat-form-field>
      <p class="label">Subject of the Statement</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="subjectOfStatement" placeholder="Life in Green Hardy" />
        <mat-error *ngIf="form.get('subjectOfStatement').hasError('required')">Please enter subject of the statement!
        </mat-error>
      </mat-form-field>
      <p class="label">Date When the Statement was Sought</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="dateStatementSought" type="date" />
        <mat-error *ngIf="form.get('dateStatementSought').hasError('required')">Please enter a date!</mat-error>
      </mat-form-field>
      <p class="label">Date When the Statement would be Responded to?</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="dateStatementToResponded" type="date" />
        <mat-error *ngIf="form.get('dateStatementToResponded').hasError('required')">Please enter a date!</mat-error>
      </mat-form-field>
      <p class="label">Statement request directed to?</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="department" placeholder="Abobina Sampson" />
        <mat-error *ngIf="form.get('department').hasError('required')">Please enter a name!</mat-error>
      </mat-form-field>
      <p class="label">Fill in the Department responsible for providing the statement</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="departmentResponsible" placeholder="Department of Food" />
        <mat-error *ngIf="form.get('departmentResponsible').hasError('required')">Please enter a department!</mat-error>
      </mat-form-field>
      <app-custom-button [title]="fileName || 'Upload Statement'" (buttonClick)="onUploadStatement()">
      </app-custom-button>
      <div class="actions">
        <button mat-button type="button" class="btn-draft" [disabled]="form.invalid || !fileName"
          (click)="onSave(false)">Save as
          Draft</button>
        <button mat-raised-button type="submit" class="btn-save" [disabled]="form.invalid || !fileName"
          (click)="onSave(true)">Publish Statement</button>
      </div>
    </form>
  </app-center-card>
</app-background>
