<app-background>
  <app-center-card>
    <h1 class="title">Petitions</h1>
    <app-search-bar></app-search-bar>
    <div>
      <app-info-item
        *ngFor="let petition of petitions"
        [title]="petition.content"
        [date]="petition.datePublished"
        [subjects]="[petition.relatedTo]"
        [sponsored]="petition.sponsoredBy.sponsorName"
        class="item"
        [selectable]="selectable"
        [sub]="'Petition on'"
        [state]="petition.publishState"
        (delete)="onDelete(petition._id)"
        [editUrl]="'/generate/petition/' + petition._id"
        (select)="onSelect(petition)"
        (downloadUrl)="(petition.uploadedFileURL)"
      >
      </app-info-item>
    </div>
    <div *ngIf="!petitions.length" class="list-no-value">
      <p>No Petitions Listed!</p>
      <p (click)="onCreateNew()" class="new">Create Petition</p>
    </div>
  </app-center-card>
</app-background>
