<app-background>
  <app-center-card>
    <h1 class="title">
      Generate Tentative Business for Order Paper No.
      {{ orderPaperNo }}
    </h1>
    <form [formGroup]="form" class="form">
      <p class="label">Choose Date</p>
      <mat-form-field appearance="standard">
        <input matInput type="date" formControlName="dateOfContent" />
      </mat-form-field>

      <p class="label">Choose Time</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="time" />
      </mat-form-field>
      <div class="actions">
        <button
          mat-raised-button
          type="button"
          class="btn-save"
          [routerLink]="[
            '/',
            'view',
            'tentative-business-content',
            tentativeBizId
          ]"
        >
          View Content
        </button>
      </div>
    </form>
    <p class="view-author author" *ngIf="authorName">
      Author: {{ authorName }}
    </p>
  </app-center-card>
</app-background>
