<div class="main">
  <div class="info">
    <span class="title">{{sub}} {{title}}</span>
    <span class="date">Published on <span class="highlight">{{date | date:'dd MMMM, yyyy'}}</span></span>
    <span class="sought">Sought to <span class="highlight" *ngFor="let sought of soughts; let i = index">{{(i === 0 ? ''
        :
        (i + 1 ===
        soughts.length ? ' and ' : ', ')) + sought}}</span></span>
    <span class="requested" *ngIf="requested">Requested by <span class="highlight">{{requested}}({{ward}})</span></span>
    <div class="state">
      <div class="dot"></div>
      <span class="label">{{state}}</span>
    </div>
  </div>
  <button mat-button *ngIf="selectable" class="btn">Select</button>
</div>
<div class="list-actions" *ngIf="!selectable">
  <button mat-button class="list-actions-btn edit">Edit</button>
  <button mat-button class="list-actions-btn delete">Delete</button>
</div>
