<div class="main">
  <div class="info">
    <div *ngFor="let i of info" [class]="'line ' + i.class.common">
      <span [class]="i.class.label">
        {{ i.label }}
      </span>
      <span [class]="i.class.content">
        {{ " " + i.content }}
      </span>
    </div>
    <div class="state" *ngIf="state">
      <div class="dot"></div>
      <span class="label">{{ extendedState }}</span>
    </div>
  </div>
  <button mat-button *ngIf="selectable" class="btn" (click)="onSelect()">
    Select
  </button>
</div>
<div class="list-actions" *ngIf="state !== 'public' && !selectable">
  <a *ngIf="downloadUrl" [href]="[downloadUrl]">
    <button mat-button class="list-actions-btn delete">Download</button>
  </a>
  <a *ngIf="editUrl" [routerLink]="[editUrl]">
    <button mat-button class="list-actions-btn edit">Edit</button>
  </a>
  <button mat-button class="list-actions-btn delete" (click)="onDelete()">
    Delete
  </button>
</div>
