<app-background>
  <app-center-card>
    <h1 class="title">Wards of {{ county }} County</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" />
      </mat-form-field>

      <p class="label">Constituency</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="constituency" />
      </mat-form-field>

      <p class="label">Sub County</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="subCounty" />
      </mat-form-field>
    </form>
    <p class="view-author author" *ngIf="authorName">
      Author: {{ authorName }}
    </p>
  </app-center-card>
</app-background>
