<app-background>
  <app-center-card>
    <h1 class="title">Create Wards of {{ county }} County</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Andrew Mary" />
        <mat-error *ngIf="form.get('name').hasError('required')"
          >Please enter department name!</mat-error
        >
      </mat-form-field>
      <p class="label">Constituency</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="constituency">
          <mat-option *ngFor="let cons of constituencies" [value]="cons">{{
            cons
          }}</mat-option>
        </mat-select>
        <mat-error>Please select a constituency!</mat-error>
      </mat-form-field>
      <p class="label">Sub County</p>
      <mat-form-field appearance="standard">
        <mat-select formControlName="subCounty">
          <mat-option *ngFor="let sub of subCounties" [value]="sub">{{
            sub
          }}</mat-option>
        </mat-select>
        <mat-error>Please select a sub county!</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        class="btn-save"
        [disabled]="form.invalid"
        (click)="onSave()"
      >
        Save
      </button>
    </form>
  </app-center-card>
</app-background>
