<div class="main">
  <div class="info">
    <span class="title">{{ sub }} No {{ number }}</span>
    <span class="date"
      >{{ date | date: "EEEE, d MMMM, yyyy"
      }}<span class="time"> {{ date | date: "h:mm:ss a" }}</span></span
    >
    <div class="views" *ngIf="views">
      <mat-icon class="icon" size> visibility </mat-icon>
      <span class="view">{{ views }}</span>
    </div>
    <div class="state" *ngIf="state">
      <div class="dot"></div>
      <span class="label">{{ stateExpanded }}</span>
    </div>
  </div>
  <button mat-button *ngIf="selectable" class="btn" (click)="onSelect()">
    Select
  </button>
  <a [routerLink]="[editUrl]">
    <button
      mat-icon-button
      *ngIf="state !== 'public' && !selectable"
      class="btn"
    >
      <mat-icon> keyboard_arrow_right </mat-icon>
    </button>
  </a>
</div>
<div class="list-actions" *ngIf="!selectable">
  <a [routerLink]="[viewUrl]">
    <button mat-button class="list-actions-btn edit">View</button>
  </a>
  <a [routerLink]="[editUrl]" *ngIf="canEdit">
    <button mat-button class="list-actions-btn edit">Edit</button>
  </a>
  <button
    mat-button
    class="list-actions-btn delete"
    (click)="onDelete()"
    *ngIf="canDelete"
  >
    Delete
  </button>
</div>
<div class="list-actions" *ngIf="state === 'public' && !selectable">
  <button
    mat-button
    class="list-actions-btn edit"
    (click)="onDownload()"
    *ngIf="downloadUrl"
  >
    Download
  </button>
</div>
