<app-background>
  <app-center-card>
    <h1 class="title">Create Department of {{ county }} County</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Name</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="name" placeholder="Andrew Mary" />
        <mat-error *ngIf="form.get('name').hasError('required')"
          >Please enter department name!</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        class="btn-save"
        [disabled]="form.invalid"
        (click)="onSave()"
      >
        Save
      </button>
    </form>
  </app-center-card>
</app-background>
