/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: unset;
}

.hidden {
  display: none;
}

textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.hr {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
}

.list-actions {
  margin-left: auto;
  margin-top: 10px;

  &-btn {
    color: #008000;
    min-width: 80px;
    border-radius: 8px;
  }

  .edit {
    background: rgba(#008000, 0.1);
  }
}

.list-no-value {
  text-align: center;

  .new {
    margin: 20px 0;
    color: #008000;
    cursor: pointer;
  }
}

.edit-link {
  text-decoration: underline;
  color: #008000;
}

.document-link {
  text-decoration: underline;
  color: #008000;
  margin: 20px 0;
}

.view-author {
  margin-top: -20px !important;
  text-align: right;
  font-size: 14px;
}

// Material Overriding CSS
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #008000;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #008000;
}

mat-chip.state-chip {
  padding: 0 15px;
  min-height: 22px;
  font-weight: 400;
  color: #008000 !important;
  background-color: rgba(#008000, 0.25) !important;
}

//Quill Editor Overriding CSS
.ql-container {
  // min-width: 800px;
  min-height: 500px;
}
