<app-background>
  <app-center-card>
    <h2 class="title">Accounts</h2>
    <app-management-item *ngFor="let account of accounts" [title]="account.name" [subtitle]="account.department"
      [selectable]="true" [pic]="account.profilePic"></app-management-item>
    <h2 class="title">Departments</h2>
    <app-management-item *ngFor="let department of departments" [title]="department" [selectable]="true">
    </app-management-item>
    <h2 class="title">Committee</h2>
    <app-management-item *ngFor="let com of committee" [title]="com" [selectable]="true"></app-management-item>
  </app-center-card>
</app-background>
