<app-background>
  <app-center-card style="min-width: 900px">
    <h1 class="title">
      Votebook based on the Order Paper No.{{ orderPaperNo }}
    </h1>
    <app-menu-container
      *ngFor="let item of items; let i = index"
      [notifications]="item.notifications"
      [noView]="true"
      [noDelete]="true"
    >
      <div class="content">
        <div class="info">
          <span>{{ i + 1 | number: "2.0-0" }}</span>
          <span class="label">{{ item.label }}</span>
        </div>
      </div>
    </app-menu-container>
    <p class="view-author" *ngIf="authorName">Author: {{ authorName }}</p>
  </app-center-card>
</app-background>
