<app-background>
  <app-center-card>
    <form [formGroup]="form" class="main">
      <h1 class="title">Edit {{ page }}</h1>
      <quill-editor formControlName="content" [readOnly]="true"></quill-editor>
      <div class="words">
        <div class="line">
          <span
            >No of Words: <span class="word">{{ wordsNumber }}</span></span
          >
        </div>
        <!-- <div class="line">
          <span>Words Per Paragrah: <span class="word">{{wordsPara}}</span></span>
        </div>
        <div class="line">
          <span>Words Per Page: <span class="word">{{wordsPage}}</span></span>
        </div> -->
      </div>
      <div class="actions">
        <button
          mat-raised-button
          color="error"
          class="btn-discard"
          (click)="onDiscard()"
        >
          Discard
        </button>
        <button
          mat-raised-button
          type="submit"
          class="btn-save"
          [disabled]="form.invalid"
          (click)="onComplete()"
        >
          Complete
        </button>
      </div>
    </form>
  </app-center-card>
</app-background>
