<app-background [background]="'green'">
  <app-center-card>
    <div class="logo-container">
      <img class="logo" src="/assets/logo.png" alt="logo" width="100" />
    </div>
    <h1 class="title">Enter Password to Reset</h1>
    <form [formGroup]="form" class="form">
      <p class="label">Password</p>
      <mat-form-field appearance="standard">
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="form.hasError('required', 'password')">
          Please enter your new password
        </mat-error>
      </mat-form-field>
      <p class="label">Confirm Password</p>
      <mat-form-field appearance="standard">
        <!-- Give the password error state `matcher` into the errorStateMatcher prop -->
        <input matInput formControlName="repassword" type="password" [errorStateMatcher]="matcher" />
        <!-- The error type `notSame` is the return error type define in the `checkPassword` function -->
        <mat-error *ngIf="form.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <a class="btn-link" [routerLink]="form.valid ? '/signup/account' : null">
        <button mat-flat-button class="btn" [disabled]="form.invalid">Reset</button>
      </a>
    </form>
  </app-center-card>
</app-background>
